
.experience__container_e > div{
    background: var(--color-bg-variant);
    padding : 2.4rem 5rem;
    border-radius: 2rem;
    border : 1px solid transparent;
    transition: var(--transition);
    
}
.experience__container_e{
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap:2rem;
    padding-left: 480px;
    
}
.experience__content_i > h4{
    /* margin: 0 auto; */
    /* text-align: center; */
    margin-left: 400px;
    font-size: large;
}
.timeline{
    /* display: flex; */
    align-items: center;
    gap : 10px;
    margin-bottom: 10px;
}

.dot{
    width: 15px;
    height: 15px;
    background-color: rgb(253, 77, 212);
    border-radius: 50%;
}
.line{
    width: 2px;
    height: 80px;
    background-color: grey;
    margin-left: 6px;
}
.timeline-item{
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 10px;
}
.timeline-item > h4:hover {
    font-size: 17px;
}

